* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
    display: table-cell;
}

header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
    margin-bottom: 50px;
}

.by-btn,
.btn-cart {
    color: #00c6ff;
    padding: 10px 20px;
    width: 150px;
    text-decoration: none;
    text-align: center;
    margin: 20px auto;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #00c6ff 50%, #00c6ff);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 400 18px tahoma;
    border: 1px solid #00C6FF;
}

.by-btn:hover,
.btn-cart:hover {
    background-position: 0 0;
    color: #fff;
}

.products{ 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-row-gap: 32px;
    grid-column-gap: 32px;
        
}

.product-item {
 height: 450px;
    border: 1px solid #000;
}

.img {
    
}
